In [1]:
import yfinance as yf
import datetime

In [2]:
def get_option_data(stock_symbol, expiration_date, option_type, strike):
    stock = yf.Ticker(stock_symbol)
    option_chain = stock.option_chain(expiration_date)
    options = getattr(option_chain, "calls" if option_type.startswith("call") else "puts")
    option_data = options[options["strike"] == strike]
    return option_data


def get_option_history_data(contract_symbol, days_before_expiration=30):
    option = yf.Ticker(contract_symbol)
    option_info = option.info
    option_expiration_date = datetime.datetime.fromtimestamp(option_info["expireDate"])

    start_date = option_expiration_date - datetime.timedelta(days=days_before_expiration)
    option_history = option.history(start=start_date)
    return option_history

In [30]:
od = get_option_data('ZS', '2024-05-31', 'call', 175)

In [31]:
od

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
25,ZS240531C00175000,2024-05-30 19:59:46+00:00,175.0,2.4,2.05,2.4,-2.42,-50.207466,1445.0,472,2.428715,False,REGULAR,USD

In [32]:
get_option_history_data(od.iloc[0].contractSymbol, 30)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-04-30 00:00:00-04:00,12.03,12.03,11.90,11.90,3,0.0,0.0
2024-05-01 00:00:00-04:00,11.30,11.76,10.50,11.76,10,0.0,0.0
2024-05-02 00:00:00-04:00,10.91,12.27,10.91,12.27,4,0.0,0.0
2024-05-03 00:00:00-04:00,12.50,14.45,10.30,14.00,39,0.0,0.0
2024-05-06 00:00:00-04:00,13.00,14.70,12.50,13.70,17,0.0,0.0
2024-05-07 00:00:00-04:00,12.30,14.55,11.66,14.55,9,0.0,0.0
2024-05-08 00:00:00-04:00,11.30,11.50,9.74,9.74,8,0.0,0.0
2024-05-09 00:00:00-04:00,10.70,10.70,9.15,9.85,135,0.0,0.0
2024-05-10 00:00:00-04:00,10.55,11.20,10.55,10.88,37,0.0,0.0
2024-05-13 00:00:00-04:00,11.32,11.32,10.75,11.10,18,0.0,0.0
2024-05-14 00:00:00-04:00,12.70,12.70,11.48,11.90,14,0.0,0.0
2024-05-15 00:00:00-04:00,13.00,13.15,13.00,13.15,2,0.0,0.0
2024-05-20 00:00:00-04:00,12.75,13.95,12.75,13.90,64,0.0,0.0
2024-05-21 00:00:00-04:00,10.71,12.65,10.45,11.44,48,0.0,0.0
2024-05-22 00:00:00-04:00,10.35,10.45,9.30,9.57,72,0.0,0.0
2024-05-23 00:00:00-04:00,9.65,9.80,7.80,7.95,34,0.0,0.0
2024-05-24 00:00:00-04:00,8.35,8.80,7.45,7.50,113,0.0,0.0
2024-05-28 00:00:00-04:00,7.50,7.60,4.00,4.31,194,0.0,0.0
2024-05-29 00:00:00-04:00,4.25,5.07,4.00,4.82,268,0.0,0.0
2024-05-30 00:00:00-04:00,4.21,4.21,2.25,2.40,1445,0.0,0.0